:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  width: 100%;
  min-height: 100vh;
}

a {
  color: var(--accent-primary);
  text-decoration: none;

  &:hover {
    color: var(--accent-primary-hover);
    text-decoration: underline;
  }
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
